<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/static/media/blob1.svg" rel="icon">
	<link rel="stylesheet" href="/static/css/styles.css">
    <title>IPMap: Get IP</title>
</head>
<body>
    <main>
		<section class="index">
			<center>
				<div class="heading space">
					<h1 class="">
						<a data-aos="fade-in" class="typewrite heading" data-period="2000" data-type='
						[ "Welcome to IPMap", "A website to get IP Address locations" ]'>
						  <span class="wrap"></span>
						</a>
					</h1>
				</div>
        		<form action="/" method="post" class="form">
					<div data-aos="fade-in" class="contact-form box">
						<div class="contact-input">
        		    		<input autocomplete="off" autofocus placeholder="IP Address you want to find the location" id="ip" name="ip" type="text">
						</div>

						<div class="buttons">
							<button class="blob-btn" onclick="message()" type="submit">
							  Submit IP address
							  <span class="blob-btn__inner">
								<span class="blob-btn__blobs">
								  <span class="blob-btn__blob"></span>
								  <span class="blob-btn__blob"></span>
								  <span class="blob-btn__blob"></span>
								  <span class="blob-btn__blob"></span>
								</span>
							  </span>
							</button>
							<br/>

							<svg xmlns="http://www.w3.org/2000/svg" version="1.1">
								<defs>
								  <filter id="goo">
									<feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10"></feGaussianBlur>
									<feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7" result="goo"></feColorMatrix>
									<feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
								  </filter>
								</defs>
							  </svg>
					</div>
        		</form>

			</center>
		</section>
		<center><p class="space" style="color: rgb(150, 150, 150);">© 2022 Tobias Karuth (Tkaming)</p></center>
    </main>

	<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
	<script>
	    AOS.init();
	</script>

	<script>

	    // type animation
	    var TxtType = function(el, toRotate, period) {
	        this.toRotate = toRotate;
	        this.el = el;
	        this.loopNum = 0;
	        this.period = parseInt(period, 10) || 2000;
	        this.txt = '';
	        this.tick();
	        this.isDeleting = false;
	    };

	    TxtType.prototype.tick = function() {
	        var i = this.loopNum % this.toRotate.length;
	        var fullTxt = this.toRotate[i];

	        if (this.isDeleting) {
	        this.txt = fullTxt.substring(0, this.txt.length - 1);
	        } else {
	        this.txt = fullTxt.substring(0, this.txt.length + 1);
	        }

	        this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';

	        var that = this;
	        var delta = 200 - Math.random() * 100;

	        if (this.isDeleting) { delta /= 2; }

	        if (!this.isDeleting && this.txt === fullTxt) {
	        delta = this.period;
	        this.isDeleting = true;
	        } else if (this.isDeleting && this.txt === '') {
	        this.isDeleting = false;
	        this.loopNum++;
	        delta = 500;
	        }

	        setTimeout(function() {
	        that.tick();
	        }, delta);
	    };

	    window.onload = function() {
	        var elements = document.getElementsByClassName('typewrite');
	        for (var i=0; i<elements.length; i++) {
	            var toRotate = elements[i].getAttribute('data-type');
	            var period = elements[i].getAttribute('data-period');
	            if (toRotate) {
	              new TxtType(elements[i], JSON.parse(toRotate), period);
	            }
	        }
	        // INJECT CSS
	        var css = document.createElement("style");
	        css.type = "text/css";
	        css.innerHTML = ".typewrite > .wrap { border-right: 0.08em solid rgb(158, 158, 158)}";
	        document.body.appendChild(css);
	    };


		//function message() {
		//	// alert when ip address not found
		//	var ip = document.getElementById("id");
		//	alert("1" + ip)
		//	var response = requests.get("http://ip-api.com/json/" + ip);
		//	alert("2" + response)
		//	if (response["status"] == "fail") {
		//		alert("Sorry, couldn´t find IP address. The IP is probaply protected or don´t exist");
		//	}
		//}

	</script>

</body>
</html>