<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_d69cff1f7812b362934b3a00196992e6 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_d69cff1f7812b362934b3a00196992e6" ></div>
        
</body>
<script>
    
    
            var map_d69cff1f7812b362934b3a00196992e6 = L.map(
                "map_d69cff1f7812b362934b3a00196992e6",
                {
                    center: [43.7001, -79.4163],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );
            L.control.scale().addTo(map_d69cff1f7812b362934b3a00196992e6);

            

        
    
            var tile_layer_378748b84a2290a93505f6c6e8ffcf47 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_d69cff1f7812b362934b3a00196992e6);
        
    
            var circle_marker_8bb8ff0d924781b201c04d598263d1bf = L.circleMarker(
                [43.7001, -79.4163],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 50, "stroke": true, "weight": 3}
            ).addTo(map_d69cff1f7812b362934b3a00196992e6);
        
    
        var popup_ea4e5a074d7d7aa4c94aae218818b572 = L.popup({"maxWidth": "100%"});

        
            
                var html_47a1b09bc9541e1352b904c5a1aa1fa9 = $(`<div id="html_47a1b09bc9541e1352b904c5a1aa1fa9" style="width: 100.0%; height: 100.0%;">The radius the IP could be in</div>`)[0];
                popup_ea4e5a074d7d7aa4c94aae218818b572.setContent(html_47a1b09bc9541e1352b904c5a1aa1fa9);
            
        

        circle_marker_8bb8ff0d924781b201c04d598263d1bf.bindPopup(popup_ea4e5a074d7d7aa4c94aae218818b572)
        ;

        
    
    
            var marker_1efb292ad1a607b3995ce14e45d6855a = L.marker(
                [43.7001, -79.4163],
                {}
            ).addTo(map_d69cff1f7812b362934b3a00196992e6);
        
    
            var icon_3b362f466f89ef1a3c04f0b11551f97f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "black", "prefix": "glyphicon"}
            );
            marker_1efb292ad1a607b3995ce14e45d6855a.setIcon(icon_3b362f466f89ef1a3c04f0b11551f97f);
        
    
        var popup_696da3c448d8dd763eefaca72038e682 = L.popup({"maxWidth": "100%"});

        
            
                var html_894637c3e615c9678f2e041718799e17 = $(`<div id="html_894637c3e615c9678f2e041718799e17" style="width: 100.0%; height: 100.0%;">The IP you searched for</div>`)[0];
                popup_696da3c448d8dd763eefaca72038e682.setContent(html_894637c3e615c9678f2e041718799e17);
            
        

        marker_1efb292ad1a607b3995ce14e45d6855a.bindPopup(popup_696da3c448d8dd763eefaca72038e682)
        ;

        
    
</script>
</html>