<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_e480c37ac5f684ce6a5062041aa4fd76 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_e480c37ac5f684ce6a5062041aa4fd76" ></div>
        
</body>
<script>
    
    
            var map_e480c37ac5f684ce6a5062041aa4fd76 = L.map(
                "map_e480c37ac5f684ce6a5062041aa4fd76",
                {
                    center: [43.7001, -79.4163],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );
            L.control.scale().addTo(map_e480c37ac5f684ce6a5062041aa4fd76);

            

        
    
            var tile_layer_605ca32a98ab218206d85da6cb522691 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_e480c37ac5f684ce6a5062041aa4fd76);
        
    
            var circle_marker_4fc4b904f52cf2369e081713ee9ddb7e = L.circleMarker(
                [43.7001, -79.4163],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 50, "stroke": true, "weight": 3}
            ).addTo(map_e480c37ac5f684ce6a5062041aa4fd76);
        
    
        var popup_8aae13aa1a1e30175a84f7bc30009deb = L.popup({"maxWidth": "100%"});

        
            
                var html_09fc03a370c3fd13a76672b0cbec9860 = $(`<div id="html_09fc03a370c3fd13a76672b0cbec9860" style="width: 100.0%; height: 100.0%;">The radius the IP could be in</div>`)[0];
                popup_8aae13aa1a1e30175a84f7bc30009deb.setContent(html_09fc03a370c3fd13a76672b0cbec9860);
            
        

        circle_marker_4fc4b904f52cf2369e081713ee9ddb7e.bindPopup(popup_8aae13aa1a1e30175a84f7bc30009deb)
        ;

        
    
    
            var marker_fb2d3d707d6191c8d9ff4700f8beee4a = L.marker(
                [43.7001, -79.4163],
                {}
            ).addTo(map_e480c37ac5f684ce6a5062041aa4fd76);
        
    
            var icon_67b23e1c5f95bee4d11cbec65e6be301 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "black", "prefix": "glyphicon"}
            );
            marker_fb2d3d707d6191c8d9ff4700f8beee4a.setIcon(icon_67b23e1c5f95bee4d11cbec65e6be301);
        
    
        var popup_a125ec2871783cad3a2d84333c52810d = L.popup({"maxWidth": "100%"});

        
            
                var html_0a6e60b0e535f644ace3c4e4d2a66123 = $(`<div id="html_0a6e60b0e535f644ace3c4e4d2a66123" style="width: 100.0%; height: 100.0%;">The IP you searched for</div>`)[0];
                popup_a125ec2871783cad3a2d84333c52810d.setContent(html_0a6e60b0e535f644ace3c4e4d2a66123);
            
        

        marker_fb2d3d707d6191c8d9ff4700f8beee4a.bindPopup(popup_a125ec2871783cad3a2d84333c52810d)
        ;

        
    
</script>
</html>